.first-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6% 6% 0 12%;
    height: 542;
    align-items: flex-start;
}

.first-paragraph-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 11.3%;
}

.first-paragraph-header {
    width: 430px;
    margin: 0%;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 50px;
}

.first-paragraph-text {
    width: 450px;
    margin-top: 4%;
    line-height: 35px;
    font-weight: 300;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    color: #7D7987;
}

.first-paragraph-footer {
    margin-right: 8%;
    margin-top: 3%;
}

.first-paragraph a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 164px;
    height: 48px;
    margin-top: 5%;
    color: white;
    background-color: #FB8F1D;
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    border-radius: 9px;
}

.first-paragraph a:hover {
    background: rgb(244, 187, 51);
    background: linear-gradient(0deg, rgba(244, 187, 51, 1) 96%, rgba(253, 187, 45, 1) 100%);
    border-color: rgb(244, 187, 51);
    color: white;
    width: 200px;
    height: 60px;
    font-size: 20px;
    transition: 1s;
}

.first-paragraph a:active {
    background: rgb(244, 141, 51);
    background: linear-gradient(0deg, rgba(244, 141, 51, 1) 96%, rgba(251, 96, 0, 1) 100%);
    border-color: rgb(244, 141, 51);
    color: white;
}

@media (max-width: 1200px) {
    .first-paragraph-images {
        display: none;
    }

    .first-paragraph {
        justify-content: center;
        margin: 8% 9% 0 9%;
    }

    .first-paragraph-content {
        margin-top: 0;
        align-items: flex-start;
    }

    .first-paragraph-footer {
        margin-right: 0;
    }
}

@media (max-width: 460px) {
    .first-paragraph-text {
        width: 240px;
        line-height: 28px;
        margin-top: 7%;
    }

    .first-paragraph-header {
        font-size: 27px;
        width: 270px;
        line-height: 35px;
    }
}

@media (min-width:1920px) {
    .first-paragraph-text {
        font-size: 30px;
        line-height: 45px;
    }

    .first-paragraph-header {
        font-size: 45px;
        line-height: 60px;
    }

    .first-paragraph a {
        font-size: 23px;
        width: 220px;
        height: 70px;
    }
}