.third-paragraph {
    height: 862px;
    width: auto;
}

.third-paragraph-content {
    margin: 146px 160px 0 265px;
}

.third-paragraph-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}

.third-paragraph-view-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
}

.third-paragraph-plus {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 400px;
    top: -54px;
}

.third-paragraph-image-container {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third-paragraph-youga-img {
    background-image: url("../assets/yoga.svg");
    border-radius: 8px 8px 0 0;
    width: 261px;
    height: 233px;
}

.third-paragraph-food-img {
    background-image: url("../assets/food.svg");
    border-radius: 8px 8px 0 0;
    width: 261px;
    height: 233px;
}

.third-paragraph-temple-img {
    background-image: url("../assets/temple.svg");
    border-radius: 8px 8px 0 0;
    width: 261px;
    height: 233px;
}

.third-paragraph-surfing-img {
    background-image: url("../assets/surfing.svg");
    border-radius: 8px 8px 0 0;
    width: 261px;
    height: 233px;
}

.third-paragraph-text-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
}

.third-paragraph-circle-left {
    position: absolute;
    width: 25px;
    height: 25px;
    left: -110px;
    top: 26px;
}

.third-paragraph-circle-bottom {
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: -75px;
    left: 720px;
}

.third-paragraph-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;
    width: 261px;
}

.third-paragraph-text h1 {
    font-size: 19px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 13px;
}

.third-paragraph-text a {
    margin-top: 23px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: #FB8F1D;
    text-decoration: none;
}