.third-paragraph {
    height: 762px;
    width: auto;
}

.third-paragraph-content {
    margin: 7% 10.4% 0 12%;
}

.third-paragraph-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}

.third-paragraph-view-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    margin-bottom: 4%;
}

.third-paragraph-view-all a {
    text-decoration: none;
    color: #FB8F1D;
}

.third-paragraph-view-all a:hover {
    font-weight: 700;
}

.third-paragraph-youga-img {
    background-image: url("../assets/yoga.svg");
    border-radius: 8px 8px 0 0;
    width: 261px;
    height: 233px;
}

.third-paragraph-food-img {
    background-image: url("../assets/food.svg");
    border-radius: 8px 8px 0 0;
    width: 261px;
    height: 233px;
}

.third-paragraph-temple-img {
    background-image: url("../assets/temple.svg");
    border-radius: 8px 8px 0 0;
    width: 261px;
    height: 233px;
}

.third-paragraph-surfing-img {
    background-image: url("../assets/surfing.svg");
    border-radius: 8px 8px 0 0;
    width: 261px;
    height: 233px;
}

.third-paragraph-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;
    width: 261px;
}

.third-paragraph-text h1 {
    font-size: 19px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 13px;
}

.third-paragraph-text a {
    margin-top: 23px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: #FB8F1D;
    text-decoration: none;
}

.third-paragraph-text a:hover {
    font-weight: 800;
    font-size: 24px;
    transition: 0.5s;
}

.third-paragraph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.responsive-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1175px;
    margin-bottom: 10%;
}

.responsive-container-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48.1%;
}

.responsive-container-item {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1500px) {
    .third-paragraph {
        height: 100%;
    }

    .responsive-container {
        width: 100%;
        margin-bottom: 0;
    }

    .third-paragraph-content {
        margin: 7% 6.4% 0 8%;
    }

    .responsive-container-items {
        flex-direction: column;
        align-items: center;
    }

    .responsive-container-item {
        margin-bottom: 6%;
    }
}

@media (max-width: 700px) {
    .responsive-container {
        flex-direction: column;
        align-items: center;
    }

    .third-paragraph-header {
        flex-direction: column;
        justify-content: flex-start;
    }
}